<h2> <%= productDetails.name %> </h2>

<p> <%= productDetails.name %> </p>
<p> $<%= productDetails.price %> </p>
<p> <img src="<%= productDetails.imageUrl %>" </p>
<p> <%= productDetails.description %> </p>
